# Arquivos e diretórios específicos para Node.js e Yarn
/node_modules
/dist
.yarn
yarn.lock

# Arquivo de configuração específico para Typescript
/tsconfig.json

# Arquivo de ambiente específico para Node.js
.env

# Arquivos de registro ou saída específicos para Node.js e Yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*
